@page
@model KE03_INTDEV_SE_1_Base.Pages.HomeModel

@if (Model.Products != null && Model.Products.Any())
{
    <link rel="stylesheet" href="~/css/items.css" />
    
    <div class="container-fluid">
        
        <div class="row justify-content-center">
            <div>
                <h1 class="text-center mt-5">
                    Welkom @(Model.UserName ?? "gast")
                </h1>

                <p class="text-center">Hier zijn onze producten:</p>
            </div>

            
            @foreach (var product in Model.Products)
            {
                <div class="card mx-3 col-md-3 col-10 mt-5">
                    @{
                        string imgSrc;
                        if (product.Img != null && product.Img.Length > 0)
                        {
                            var base64 = Convert.ToBase64String(product.Img);
                            imgSrc = $"data:image/png;base64,{base64}";
                        }
                        else
                        {
                            imgSrc = "https://via.placeholder.com/500x500?text=Geen+afbeelding";
                        }
                    }
                    <img class="mx-auto img-thumbnail"
                         src="@imgSrc"
                         alt="Productfoto" style="max-height:200px; max-width:300px;" />
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">@product.Name</h5>
                            <p class="card-text">€@product.Price</p>
                            <button type="button"
                                    class="btnhover btn details px-auto"
                                    data-bs-toggle="modal"
                                    data-bs-target="#productModal"
                                    data-name="@product.Name"
                                    data-price="@product.Price.ToString(System.Globalization.CultureInfo.InvariantCulture)"
                                    data-description="@product.Description"
                                    data-image="@imgSrc">
                                Bekijk details
                            </button>
                            <br />
                            <button class="btnhover btn cart px-auto bg-dark" type="button"
                                    data-id="@product.Id"
                                    data-name="@product.Name"
                                    data-price="@product.Price.ToString(System.Globalization.CultureInfo.InvariantCulture)"
                                    data-imgsrc="@imgSrc"
                                    onclick="addProductFromButton(this)">
                                Toevoegen aan cart
                            </button>



                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content rounded-4">
                <div class="modal-body d-flex p-0">
                    <div class="col-md-5 d-flex align-items-center justify-content-center bg-light" style="margin-left: 24px; margin-top: 24px; margin-bottom: 24px;">
                        <img id="modalImage" src="https://via.placeholder.com/300x200?text=Geen+afbeelding" class="img-fluid rounded-4" alt="Productfoto" />
                    </div>
                    <div class="col-md-7 p-4">
                        <h5 id="modalTitle" class="modal-title mb-3"></h5>
                        <p id="modalPrice" class="mb-2"></p>
                        <p id="modalDescription"></p>
                        <button type="button" class="btnhover btn-secondary mt-3" data-bs-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

}
